@page "/ok"
@inject NavigationManager NavManager;

<PageTitle>Sent</PageTitle>

<h1>Command Sent to Database</h1>



<button class="btn btn-primary" @onclick="MoveMe">Another?</button>

@code {
    
    private void MoveMe()
    {
        NavManager.NavigateTo("/proc");
    }
}
